<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="@herryly">

  <title>微信-豆瓣书籍</title>
  <style>
    body {
      padding-top: 30px;
      text-align: center;
    }
    body img {
      margin: 20px auto;
    }
  </style>
</head>
<body>
<h2>微信公众帐号</h2>
<h1>微信-豆瓣书籍（微信号gh_1bf36117800d）</h1>
<p>by <a target="_blank" href="http://blog.csdn.net/lf8289/ ">@herryly</a></p>
<img src="/static/img/qrcode_for_gh_1bf36117800d.jpg">
</body>
</html>